<a href="https://colab.research.google.com/github/LuigiFerrari14/Curso-em-Video-Python---Guanabar-/blob/main/Curso_em_Video.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2
nome = input("Digite seu nome: ")

print('Bem Vindo, {}'.format(nome))

Digite seu nome: Luigi
Bem Vindo, Luigi

In [ ]:
#3
num1 = int(input("Digite um valor: "))
num2 = int(input("Digite um valor: "))

resultado = num1+num2

print('A soma entre {} e {} é igual a {}'.format(num1,num2,resultado
                                                 ))

Digite um valor: 5
Digite um valor: 9
A soma entre 5 e 9 é igual a 14

In [ ]:
#4
algo = input("Digite algo: ")
print('Só tem espaços?', algo.isspace())
print('é um número?', algo.isnumeric())
print('é alfabetico?', algo.isalpha())
print('é maiusculo?', algo.isupper())
print('é minusculo?', algo.islower())
print('é capitalizada?', algo.istitle())

Digite algo: Doido
Só tem espaços? False
é um número? False
é alfabetico? True
é maiusculo? False
é minusculo? False
é capitalizada? True

In [ ]:
#5
num = int(input("Digite um valor: "))
prox = num + 1
ant = num - 1

print('Analisando o valor {}, seu antecessor é {} e o seu sucessor é {}'.format(num, ant, prox))

Digite um valor: 0
Analisando o valor 0, seu antecessor é -1 e o seu sucessor é 1

In [ ]:
#6
import math

num = int(input("Digite um valor: "))
dobro = num*2
triplo = num*3
raiz = math.sqrt(num)

print('O dobro de {} é {}'.format(num, dobro))
print('O triplo de {} é {}'.format(num, triplo))
print('A raiz de {} é {}'.format(num, raiz))

Digite um valor: 25
O dobro de 25 é 50
O triplo de 25 é 75
A raiz de 25 é 5.0

In [ ]:
#7
nota1 = float(input("Primeira nota: "))
nota2 = float(input("Segunda nota: "))
media = (nota1+nota2)/2
print("A média entre {} e {} é igual a {}".format(nota1, nota2, media))

Primeira nota: 5.5
Segunda nota: 2
A média entre 5.5 e 2.0 é igual a 3.75

In [ ]:
#8
medida = float(input("Distancia em metros: "))
cm = medida*100
mm = medida*1000
print("A média em cm é {} ".format(cm))
print("A média em mm é {} ".format(mm))

Distancia em metros: 5
A média em cm é 500.0
A média em mm é 5000.0

In [ ]:
#9
num = int(input("Digite um valor para ver sua tabuada: "))
for n in range(0,11):
  resultado = num * n
  print("{} X {:2} = {}".format(num,n,resultado))

Digite um valor para ver sua tabuada: 5
5 X  0 = 0
5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X 10 = 50

In [ ]:
#10
print('Digite a quantia a ser convertida')
N=float(input('R$:'))
print(f'R${N} = U${N/5.0 :.2f}')

Digite a quantia a ser convertida
R$:10
R$10.0 = U$2.00

In [ ]:
#11
largura = float(input("Digite a largura da parede: "))
altura = float(input("Digite a largura da parede: "))


dimensao = largura*altura
litros = dimensao/2

print("Sua parede tem a dimensao de {}x{} e sua área é de {}m2".format(largura,altura,dimensao))
print("Para pintar essa parede, você precisara de {}l de tinta".format(litros))

Digite a largura da parede: 5
Digite a largura da parede: 10
Sua parede tem a dimensao de 5.0x10.0 e sua área é de 50.0m2
Para pintar essa parede, você precisara de 25.0l de tinta

In [ ]:
#12
preco = float(input("Digite o preço do produto: "))
desconto = preco*5/100
novopreco = preco - desconto
print("O produto que custava {} com desconto de 5% vai custar {:.2f}".format(preco,novopreco))

Digite o preço do produto: 123.95
O produto que custava 123.95 com desconto de 5% vai custar 117.75

In [ ]:
#13
n1 = float(input('Digite seu salário R$'))
s = n1 + (n1 * 15 / 100)
print(f'O novo salário com 15% de aumento será: R${s:.2f}')

Digite seu salário R$4319.43
O novo salário será: R$4967.34

In [ ]:
#14
celsius = float(input('Digite a temperatura em °C: '))
print('A temperatura em Fahrenheit é {:.1f} °F.'.format(celsius * 1.8 + 32))

Digite a temperatura em °C: 50
A temperatura em Fahrenheit é 122.0 °F.

In [ ]:
#15
km = float(input('Quantos quilômetros você percorreu com o carro alugado? '))
dias = int(input('Quantos dias você passou com o carro alugado? '))
valor = (dias * 60) + (km * 0.15)
print('O preço total é de R${:.2f}'.format(valor))

In [ ]:
#16
import math
numero = float(input('Digite um numero: '))
print("O valor inteiro é: {}".format(math.trunc(numero)))

Digite um numero: 8.465
O valor inteiro é: 8

In [ ]:
#17
from math import sqrt
print('Calculando a Hipotenusa')
co = float(input('Insira o valor do cateto oposto: '))
ca = float(input('Insira o valor do cateto adjacente: '))

hi = (co ** 2) + (ca ** 2)

hi = sqrt(hi)
print('A hipotenusa desse triângulo é:{:.2f}'.format(hi))

Calculando a Hipotenusa
Insira o valor do cateto oposto: 10
Insira o valor do cateto adjacente: 8
A hipotenusa desse triângulo é:12.81

In [ ]:
#18
import math
an = float(input('digite o angulo q deseja? '))
r = math.radians(an)
s = math.sin(r)
c = math.cos(r)
t = math.tan(r)
print('Angulo {} \n o seno sera {:.2f} \n o coseno sera {:.2f} \n e a trangente sera {:.2f}'.format(an, s, c, t))

digite o angulo q deseja?10
Angulo 10.0
 o seno sera 0.17
 o coseno sera0.98
 e a trangente sera 0.18

In [ ]:
#19 - CHOICE ESCOLHE UM ELEMTNO NA LISTA
import random
nome1 = str(input('Digite o 1 nome: '))
nome2 = str(input('Digite o 2 nome: '))
nome3 = str(input('Digite o 3 nome: '))
nome4 = str(input('Digite o 4 nome: '))

lista = [nome1, nome2, nome3, nome4]

random.choice(lista)

Digite o 1 nome: a
Digite o 2 nome: b
Digite o 3 nome: c
Digite o 4 nome: d

'b'

In [ ]:
#20 - SHUFFLE MISTURA A LISTA E POE EM ORDEM ALEATORIA
import random
nome1 = str(input('Digite o 1 nome: '))
nome2 = str(input('Digite o 2 nome: '))
nome3 = str(input('Digite o 3 nome: '))
nome4 = str(input('Digite o 4 nome: '))

lista = [nome1, nome2, nome3, nome4]

random.shuffle(lista)
print(lista)

Digite o 1 nome: a
Digite o 2 nome: b
Digite o 3 nome: c
Digite o 4 nome: d
['c', 'd', 'a', 'b']

In [ ]:
#22 - STRIP - Ignora os espaços do inicio e fim
nome = (input("Digite seu nome completo")).strip()

print(nome.upper())
print(nome.lower())
print(len(nome) - nome.count(' '))
print("Seu primeiro nome tem {} letras".format(nome.find(' ')))

separa = nome.split()
print(separa[0])

Digite seu nome completo  luigi silva ferrari
LUIGI SILVA FERRARI
luigi silva ferrari
17
Seu primeiro nome tem 5 letras
luigi

In [ ]:
#23

numero = int(input("Digite um numero de 0 a 9999: "))

u = numero // 1%10
d = numero // 10%10
c = numero // 100%10
m = numero // 1000%10


print("Unidade: {}".format(u))
print("Dezena: {}".format(d))
print("Centena: {}".format(c))
print("Milhar: {}".format(m))

Digite um numero de 0 a 9999: 12
Unidade: 2
Dezena: 1
Centena: 0
Milhar: 0

In [ ]:
#24
nome = (input("Digite o nome da cidade: ")).strip().upper()

if nome.split()[0] == "SANTO":
  print("Começa com Santo")
else:
  print("Não começa com Santo")

Digite o nome da cidade:          santo luiz
Começa com Santo

In [ ]:
#25
nome = (input("Digite seu nome completo: ")).strip().upper()

if 'SILVA' in nome:
  print("Tem silva!")
else:
  print("Não tem silva!")

Digiteseu nome completo: luigi ferrari
Não tem silva!

In [ ]:
#26
nome = (input("Digite uma frase: ")).strip().upper()
print("A letra A aparece: {} vezes".format(nome.count('A')))
print("A letra A aparece a 1 vez na posicao: {}".format(nome.find('A')+1))
print("A letra A aparece a ultima vez na posicao: {}".format(nome.rfind('A')+1))

Digite uma frase: rafael
A letra A aparece: 2 vezes
A letra A aparece a 1 vez na posicao: 2
A letra A aparece a ultima vez na posicao: 4

In [ ]:
#27
n = str(input("Digite seu nome completo: ")).strip()

nome = n.split()

print("Primeiro nome: {} ".format(nome[0]))
print("Primeiro nome: {} ".format(nome[len(nome)-1]))

Digite seu nome completo: luigi i si ferrari
Primeiro nome: luigi
Primeiro nome: ferrari

In [ ]:
#28
import random
numero = random.randint(0,5)
n = int(input("Digite o numero: "))

if numero == n:
  print('Você acertou!')
else:
  print('Você errou, o numero era {}!'.format(numero))

Digite o numero: 2
Você errou, o numero era 4!

In [ ]:
#29
v = int(input("Velocidade do carro: "))

if v > 80:
  print('Voce foi multado em {:.2f} reais!'.format((v-80)*7))

Velocidade do carro: 100
Voce foi multado em 140.00 reais!

In [ ]:
#30
v = int(input("Digite um valor: "))

if v % 2 == 0:
  print("Par")
else:
  print("Impar")

Digite um valor: 53
Impar

In [ ]:
#31
d = int(input("Distancia da viagem em km: "))

if d > 200:
  print("Valor da viagem será de: {:.2f}".format(d*0.45))
else:
  print("Valor da viagem será de: {:.2f}".format(d*0.50))

Distancia da viagem em km: 1000
Valor da viagem será de: 450.00

In [ ]:
#32
ano = int(input("Digite o ano: "))
if ano % 4 == 0 and ano % 100 != 0 or ano % 400 == 0:
  print("O ano {} é bissexto".format(ano))
else:
  print("O ano {} não é bissexto".format(ano))

Digite o ano: 1900
O ano 1900 não é bissexto

In [ ]:
#33
a = int(input("Digite o 1 numero: "))
b = int(input("Digite o 2 numero: "))
c = int(input("Digite o 3 numero: "))

maior = menor = a

if b > a and b > c:
  maior = b
if c > a and c > b:
  maior = c

if b < a and b < c:
  menor = b
if c < a and c < b:
  menor = c


print(maior)
print(menor)

Digite o 1 numero: 8
Digite o 2 numero:: 2
Digite o 3 numero:: 1
8
1

In [ ]:
#34
s = int(input("Seu salario: "))

if s > 1250:
  aumento = (s*10)/100
  print("Terá um aumento de: {:.2f} reais. Novo total: {}".format(aumento,s+aumento))
else:
  aumento = (s*15)/100
  print("Terá um aumento de: {:.2f} reais. Novo total: {}".format(aumento,s+aumento))

Seu salario: 900
Terá um aumento de: 135.00 reais. Novo total: 1035.0

In [ ]:
#35
a = float(input("Reta 1: "))
b = float(input("Reta 2: "))
c = float(input("Reta 3: "))

if a + b > c and a + c > b and c + b > a:
  print("Pode formar um triangulo")
else:
  print("Não pode formar um triangulo")

Reta 1: 9
Reta 2: 7
Reta 3: 8
Pode

In [ ]:
#36
valor = float(input("Valor da casa: "))
salario = float(input("Valor do salario: "))
anos = int(input("Quantos anos vai pagar: "))

meses = anos * 12
pagarpormes = valor/meses

if pagarpormes > (salario*30)/100:
  print("Emprestimo Negado")
else:
  print("Emprestimo aceito, valor por mes {:.2f} reais".format(pagarpormes))

Valor da casa: 80000
Valor do salario: 10000
Quantos anos vai pagar: 7
Emprestimo aceito, valor por mes 952.38 reais

In [ ]:
#37
n = int(input('Digite um número: '))

e = int(input('Você deseja converter esse número para:\n'
      '1) binário\n'
      '2) octal\n'
      '3) hexadecimal\n'))

if e == 1:
    print(bin(n))
elif e == 2:
    print(oct(n))
elif e == 3:
    print(hex(n))
else:
    print('Escolha uma opção válida.')

Digite um número: 5000
Você deseja converter esse número para:
1) binário
2) octal
3) hexadecimal
1
0b1001110001000

In [ ]:
#38
n1 = int(input('Digite um 1 número: '))
n2 = int(input('Digite um 2 número: '))

if n1 > n2:
  print("O n1 é maior")
elif n2 > n1:
  print("o n2 é maior")
else:
  print("Iguais")

Digite um 1 número: 2
Digite um 2 número: 5
o n2 é maior

In [ ]:
#39
from datetime import date
anoatual = date.today().year

anon = int(input('Digite seu ano de nascimento: '))
idade = anoatual - anon

if idade > 18:
  print("Já era pra ter alistado")
elif idade == 18:
  print("Alista esse ano")
else:
  print("Ainda não é para alistar")

Digite seu ano de nascimento: 2005
Ainda não é para alistar

In [ ]:
#40
n1 = float(input("nota1: "))
n2 = float(input("nota2: "))
media = (n1+n2)/2

if media<5.0:
  print("REPROVADO")
elif media>5.0 and media<7.0:
  print("RECUPERACAO")
else:
  print("APROVADO")

print(media)

nota1: 2
nota2: 2
REPROVADO
2.0

In [ ]:
#41
from datetime import date
anoatual = date.today().year

anon = int(input('Digite seu ano de nascimento: '))
idade = anoatual - anon

if idade <= 9:
  print("MIRIM")
elif idade <= 14:
  print("INFANTIL")
elif idade <= 19:
  print("JUNIOR")
elif idade <= 20:
  print("SENIOR")
else:
  print("MASTER")

print(idade)

Digite seu ano de nascimento: 2001
MASTER
21

In [ ]:
#42
a = float(input("Reta 1: "))
b = float(input("Reta 2: "))
c = float(input("Reta 3: "))

if a + b > c and a + c > b and c + b > a:
  print("Pode formar um triangulo")
  if a==b==c:
    print("Triangulo equilátero")
  elif a !=b != c != a:
    print("Triangulo escaleno")
  else:
    print("Triangulo isósceles")
else:
  print("Não pode formar um triangulo")

Reta 1: 1
Reta 2: 7
Reta 3: 6
Não pode formar um triangulo

In [ ]:
#43
peso = float(input("Digite seu peso: "))
altura = float(input("Digite sua altura: "))
imc = peso/(altura**2)

if imc < 18.5:
  print("Abaixo do peso")
elif imc >= 18.5 and imc <= 25:
  print("Peso ideal")
elif imc >= 25 and imc <= 30:
  print("Sobrepeso")
elif imc >= 30 and imc <= 40:
  print("Obesidade")
else:
  print("Obesidade mórbida")

print("Seu IMC é de: {:.1f}".format(imc))

Digite seu peso: 87
Digite sua altura: 1.97
Peso ideal
Seu IMC é de: 22.4

In [ ]:
#44
valor = float(input("Valor a ser pago no produto: "))

forma = int(input('Forma de pagamento:\n'
      '1) A vista no dinheiro - 10% desconto\n'
      '2) A vista no cartao - 5% desconto \n'
      '3) 2x cartão - Preco normal\n'
      '4) 3x cartão - 20% juros\n'
      'Opção: '))

desconto10= valor*10/100
opcao1= valor - desconto10

desconto5= valor*5/100
opcao2=valor - desconto5

juros20= valor*20/100
opcao4 =valor + juros20

if forma == 1:
  print(opcao1)
elif forma == 2:
  print(opcao2)
elif forma == 3:
  print(valor)
elif forma == 4:
  print(opcao4)

Valor a ser pago no produto: 100
Forma de pagamento:
1) A vista no dinheiro - 10% desconto
2) A vista no cartao - 5% desconto
3) 2x cartão - Preco normal
4) 3x cartão - 20% juros
Opção: 4
120.0

In [ ]:
#45
import random
opcao = int(input(
      '1) Pedra\n'
      '2) Papel \n'
      '3) Tesoura\n'
      'Opção: '))


lista = [1, 2, 3]

computador = random.choice(lista)

if computador == 1:
  print("O computador jogou pedra")
elif computador == 2:
  print("O computador jogou papel")
else:
  print("O computador jogou tesoura")

if computador == opcao:
  print("Empate")
elif computador == 2 and opcao == 1:
  print("O computador venceu")
elif computador == 3 and opcao == 1:
  print("Você venceu")
elif computador == 1 and opcao == 2:
  print("Você venceu")
elif computador == 3 and opcao == 2:
  print("Você perdeu")
elif computador == 1 and opcao == 3:
  print("Você perdeu")
elif computador == 2 and opcao == 3:
  print("Você ganhou")
else:
  print("Jogada invalida")

1) Pedra
2) Papel
3) Tesoura
Opção: 5
O computador jogou tesoura
Jogada invalida

In [ ]:
#46
import time

for n in range (10, 0, -1):
  print(n)
  time.sleep(1)
print("Fim")

10
9
8
7
6
5
4
3
2
1

In [ ]:
#47
for n in range (0,50,2):
  print(n)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
#48
soma = 0
for n in range (0,501,3):
  if n%2!=0:
    soma = soma+n
print(soma)

20667

In [ ]:
#49
num = int(input("Digite um valor para ver sua tabuada: "))
for n in range(0,11):
  resultado = num * n
  print("{} X {:2} = {}".format(num,n,resultado))

In [ ]:
#50
soma = 0
for n in range(6):
  numeros = int(input("Digite 6 numeros para somar somente os pares: "))
  if numeros%2==0:
    soma+=numeros
print(soma)

Digite 6 numeros para somar somente os pares: 1
Digite 6 numeros para somar somente os pares: 1
Digite 6 numeros para somar somente os pares: 1
Digite 6 numeros para somar somente os pares: 1
Digite 6 numeros para somar somente os pares: 1
Digite 6 numeros para somar somente os pares: 1
0

In [ ]:
#51
a1 = int(input('Digite o primeiro termo da P.A.: '))
r = int(input('Digite a razão da P.A.: '))
n = 0
for c in range (1, 11):
    n += 1
    print(a1 + (n - 1) * r)

Digite o primeiro termo da P.A.: 0
Digite a razão da P.A.: 2
0
2
4
6
8
10
12
14
16
18

In [ ]:
#52
cont=0
n = int(input('Digite um numero: '))
for i in range(1,n+1):
  if n%i==0:
    cont+=1

if cont == 2:
  print("É primo")
else:
  print("Não é primo")

Digite um numero: 11
É primo

In [ ]:
#53
frase = str(input('Digite uma frase: ')).strip().upper()
palavras = frase.split()
junto = ''.join(palavras)
inverso = ''
for letra in range(len(junto) -1, -1, -1):
  inverso+= junto[letra]

if junto == inverso:
  print("É palíndromo")
else:
  print("Não é palíndromo")

Digite uma frase: araras
Não é palíndromo

In [ ]:
#54
from datetime import date
anoatual = date.today().year
contmaior = 0
contmenor = 0

for pessoas in range(7):
  anon = int(input('Digite seu ano de nascimento: '))
  idade = anoatual - anon
  if idade >= 21:
    contmaior+=1
  else:
    contmenor+=1

print("Das 7 pessoas {} são maiores de idade e {} são menores de idade".format(contmaior,contmenor))

Digite seu ano de nascimento: 2000
Digite seu ano de nascimento: 2001
Digite seu ano de nascimento: 2002
Digite seu ano de nascimento: 2003
Digite seu ano de nascimento: 2004
Digite seu ano de nascimento: 2005
Digite seu ano de nascimento: 2006
Das 7 pessoas 5 são maiores de idade e 2 são menores de idade

In [ ]:
#55
for pessoas in range(5):
  peso = float(input('Digite o peso da {} pessoa: '.format(pessoas+1)))
  if pessoas == 1:
    maior = menor = peso
  if peso > maior:
    maior = peso
  elif peso < menor:
    menor = peso

print("Maior peso: {} e menor peso: {}".format(maior,menor))

Digite o peso da 1 pessoa: 58
Digite o peso da 2 pessoa: 60
Digite o peso da 3 pessoa: 59
Digite o peso da 4 pessoa: 100
Digite o peso da 5 pessoa: 30
Maior peso: 100.0 e menor peso: 30.0

In [ ]:
#56
total = 0
mediaidade = 0
nomevelho = ''
countmulher20 = 0


for pessoas in range(1,5):
  print("----- {}ª PESSOA -----".format(pessoas))
  nome = str(input('Nome: '))
  idade = int(input('Idade: '))
  sexo = str(input('Sexo: ')).upper().strip()

  total+=idade

  if pessoas == 1 and sexo in "Mm":
    maior = idade
    nomevelho = nome
    if sexo in "Mm" and idade > maior:
      nomevelho = nome

  if sexo == "F":
    if idade < 20:
      countmulher20+=1 




mediaidade = total/4
print("A media de idade é de: {}".format(mediaidade))
print("O nome do mais velho é de: {}".format(nomevelho))
print("Tem {} mulheres com menos de 20 anos".format(countmulher20))

----- 1ª PESSOA -----
Nome: joao
Idade: 22
Sexo: m
----- 2ª PESSOA -----
Nome: maria
Idade: 99
Sexo: f
----- 3ª PESSOA -----
Nome: pedro
Idade: 12
Sexo: m
----- 4ª PESSOA -----
Nome: claudia
Idade: 85
Sexo: f
A media de idade é de: 54.5
O nome do mais velho é de: joao
Tem 0 mulheres com menos de 20 anos

In [ ]:
#57
valor = str(input("Digite seu sexo [M,F]: ")).strip().upper()
while valor not in "MF":
  print("Insira um valor valido!")
  valor = str(input("Digite seu sexo [M,F]: ")).strip().upper()

print("Seu sexo é: {}".format(valor))

Digite seu sexo [M,F]: a
Insira um valor valido!
Digite seu sexo [M,F]: t
Insira um valor valido!
Digite seu sexo [M,F]: n
Insira um valor valido!
Digite seu sexo [M,F]: m
Seu sexo é: M

In [ ]:
#58
import random
numero = random.randint(0,10)
n = int(input("Digite o numero: "))
cont = 1
while n != numero:
  n = int(input("Errou! Tente novamente!\nDigite outro número: "))
  cont+=1
print('Você acertou o numero! Demorou {} vezes!'.format(cont))

Digite o numero: 5
Errou! Tente novamente!
Digite outro número: 2
Errou! Tente novamente!
Digite outro número: 8
Errou! Tente novamente!
Digite outro número: 9
Você acertou o numero! Demorou 4 vezes!

In [ ]:
#59
n1 = int(input("Digite o 1 numero: "))
n2 = int(input("Digite o 2 numero: "))
menu = 0
while menu != 5:
  menu = int(input("[1] Soma\n[2] Multiplicar\n[3] Maior\n[4] Novos número\n[5] Sair do programa\n Opção: "))

  if menu == 1:
    print("{} + {} = {}".format(n1,n2,n1+n2))
  if menu == 2:
    print("{} + {} = {}".format(n1,n2,n1*n2))
  if menu == 3:
    if n1>n2:
      maior = n1
    else:
      maior = n2
    print("O maior é {}".format(maior))
  if menu == 4:
    n1 = int(input("Digite o 1 numero: "))
    n2 = int(input("Digite o 2 numero: "))

print("Fim!")

Digite o 1 numero: 5
Digite o 2 numero: 5
[1] Soma
[2] Multiplicar
[3] Maior
[4] Novos número
[5] Sair do programa
 Opção: 5
Fim!

In [ ]:
#60
num = int(input("Digite um numero: "))
tot = 1
print("Calculando {}! = ".format(num), end='')
while num > 0: 
  print('{}'.format(num), end='')
  print(' x ' if num > 1 else ' = ',end='')
  tot *= num
  num-=1
print(tot)

Digite um numero: 5
Calculando 5! = 5 x 4 x 3 x 2 x 1 = 120

In [ ]:
#61
primeiro = int(input('Digite o primeiro termo da P.A.: '))
r = int(input('Digite a razão da P.A.: '))
cont=1
termo=primeiro

while cont <= 10:
    print(termo)
    termo+=r
    cont+=1

Digite o primeiro termo da P.A.: 0
Digite a razão da P.A.: 5
0
5
10
15
20
25
30
35
40
45

In [ ]:
#62
primeiro = int(input('Digite o primeiro termo da P.A.: '))
r = int(input('Digite a razão da P.A.: '))
cont=1
termo=primeiro

resposta = ''
numero = 10


while resposta != 0:
  while cont <= numero:
    print(termo)
    termo+=r
    cont+=1
    
  numero = int(input('Você quer mostrar mais qts numeros: '))
  resposta = numero
  numero = numero + (cont -1)

print('Fim')

Digite o primeiro termo da P.A.: 0
Digite a razão da P.A.: 2
0
2
4
6
8
10
12
14
16
18
Você quer mostrar mais qts numeros: 5
20
22
24
26
28
Você quer mostrar mais qts numeros: 0
Fim

In [ ]:
#63
n = int(input('Digie um número inteiro: '))
t1 = 0
t2 = 1
cont = 3
print(t1)
print(t2)
while cont <= n:
    t3 = t1 + t2
    print(t3)
    t1 = t2
    t2 = t3
    cont += 1

Digie um número inteiro: 5
0
1
1
2
3

In [ ]:
#64
resp = 0
qtdnum = 0
soma = 0

while resp != 999:
  resp = int(input("Digite o numero [999] para terminar: "))
  if resp != 999:
    qtdnum+=1
    soma+=resp

print("{} numeros foram digitados". format(qtdnum))
print("A soma foi de: {}". format(soma))
print("Fim")

Digite o numero: 3
Digite o numero: 3
Digite o numero: 3
Digite o numero: 999
3 numero foram digitados
A soma foi de: 9
Fim

In [ ]:
#65
resp = 0
qtdnum = 0
soma = 0
resp = ''

while resp in 'Ss':
  numero = int(input("Digite o numero: "))
  qtdnum+=1
  if qtdnum == 1:
    maior = menor = numero
  else:
    if numero > maior:
      maior = numero
    elif numero < menor:
      menor = numero



  soma+=numero
  resp = str(input("Deseja continuar [S/N]: "))


media = soma/qtdnum
print("Maior: {}\nMenor: {}". format(maior,menor))
print("A media de todos os valores foi de: {}". format(media))
print("Fim")

Digite o numero: 4
Deseja continuar [S/N]: s
Digite o numero: 2
Deseja continuar [S/N]: s
Digite o numero: 8
Deseja continuar [S/N]: s
Digite o numero: 9
Deseja continuar [S/N]: n
Maior: 9
Menor: 2
A media de todos os valores foi de: 5.75
Fim

In [ ]:
#66
resp = 0
qtdnum = 0
soma = 0

while True:
  resp = int(input("Digite o numero [999] para terminar: "))
  if resp == 999:
    break
  qtdnum+=1
  soma+=resp


print("A qtd de numeros foi de: {}". format(qtdnum))
print("A soma foi de: {}". format(soma))
print("Fim")

Digite o numero [999] para terminar: 5
Digite o numero [999] para terminar: 5
Digite o numero [999] para terminar: 2
Digite o numero [999] para terminar: 999
A qtd de numeros foi de: 3
A soma foi de: 12
Fim

In [ ]:
#67
valor = int(input("Quer ver a tabuada de qual valor? "))
mult = 1

while True:
  if(valor < 0):
    break
  while mult < 10:
    tot = valor*mult
    print("{} X {} = {}".format(valor,mult,tot))
    mult+=1
  
  valor = int(input("Quer ver a tabuada de qual valor? "))
  mult=1

print("Fim")

Quer ver a tabuada de qual valor? 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
Quer ver a tabuada de qual valor? 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
Quer ver a tabuada de qual valor? -8
Fim

In [ ]:
#68
import random

cont = 0

while True:
  computador = random.randrange(0,9)
  num = int(input("Digite o numero: "))
  sit = str(input("Par ou Impar? [P/I]: ")).upper().strip()

  if sit == 'P':
    soma=num+computador
    if soma%2==0:
      print('Você jogou {} e o computador jogou {}. Total de {} DEU PAR'.format(num,computador,soma))
      print('Você VENCEUUU!')
      print('Vamos jogar novamente...')
      cont+=1
    else:
      print('Você jogou {} e o computador jogou {}. Total de {} DEU IMPAR'.format(num,computador,soma))
      break

  if sit == 'I':
    soma=num+computador
    if soma%2==1:
      print('Você jogou {} e o computador jogou {}. Total de {} DEU IMPAR'.format(num,computador,soma))
      print('Você VENCEUUU!')
      print('Vamos jogar novamente...')
      cont+=1
    else:
      print('Você jogou {} e o computador jogou {}. Total de {} DEU PAR'.format(num,computador,soma))
      break


print('Você PERDEU!')
print('GAME OVER! Você venceu {} vezes.'.format(cont))

Digite o numero: 6
Par ou Impar? [P/I]: i
Você jogou 6 e o computador jogou 7. Total de 13 DEU IMPAR
Você VENCEUUU!
Vamos jogar novamente...
Digite o numero: 2
Par ou Impar? [P/I]: p
Você jogou 2 e o computador jogou 5. Total de 7 DEU IMPAR
Você PERDEU!
GAME OVER! Você venceu 1 vezes.

In [ ]:
#69
ci = 0
csm = 0
csf = 0
while True:
    idade = int(input('Digite a idade: '))
    sexo = str(input('Digite o sexo [m/f]: ')).strip().lower()
    while sexo not in 'fm':
      sexo = str(input('Digite o sexo [m/f]: ')).strip().lower()
    if idade > 18:
        ci += 1
    if sexo == 'm':
        csm += 1
    else:
        csf += 1
    d = str(input('Deseja continuar a cadatrar [s/n]? '))
    if d == 'n':
        break
print(f'{ci} pessoas tem mais de 18 anos.')
print(f'{csm} pessoas são do sexo masculino.')
print(f'{csf} pessoas são do sexo feminino.')

Digite a idade: 10
Digite o sexo [m/f]: g
Digite o sexo [m/f]: g
Digite o sexo [m/f]: g
Digite o sexo [m/f]: m
Deseja continuar a cadatrar [s/n]? s
Digite a idade: 20
Digite o sexo [m/f]: t
Digite o sexo [m/f]: t
Digite o sexo [m/f]: t
Digite o sexo [m/f]: f
Deseja continuar a cadatrar [s/n]? n
1 pessoas tem mais de 18 anos.
1 pessoas são do sexo masculino.
1 pessoas são do sexo feminino.

In [ ]:
#70

total = 0
m1000 = 0
produtobarato = ''

cont = 0

while True:
    nome = str(input('Digite o nome do produto: '))
    preco = float(input('Digite o preço do produto: '))
    total+=preco

    if preco > 1000:
      m1000+=1

    if cont == 0:
      menor = preco
      produtobarato = nome
    else:
      if menor > preco:
        produtobarato = nome
    

    cont+=1
    cond = str(input('Deseja continuar? [Y/N]: ')).upper().strip()
    while cond not in 'YN':
      cond = str(input('Deseja continuar? [Y/N]: ')).upper().strip()
    if cond == 'N':
      break

    
print(f'{total} gastos na compra.')
print(f'{m1000} produto(s) custa(m) mais que 1000.')
print(f'{produtobarato} é o produto mais barato.')

Digite o nome do produto: a
Digite o preço do produto: 4
Deseja continuar? [Y/N]: y
Digite o nome do produto: b
Digite o preço do produto: 5
Deseja continuar? [Y/N]: y
Digite o nome do produto: t
Digite o preço do produto: 2000
Deseja continuar? [Y/N]: n
2009.0 gastos na compra.
1 produto(s) custa(m) mais que 1000.
a é o produto mais barato.

In [ ]:
#71
nota50 = 0
nota20 = 0
nota10 = 0
nota1 = 0



preco = float(input('Digite o valor a se retirar: '))
total = preco

while True:
  if total >= 50:
    total-= 50
    nota50+=1
  elif total >= 20:
    total-= 20
    nota20+=1
  elif total >= 10:
    total-= 10
    nota10+=1
  elif total >= 1:
    total-= 1
    nota1+=1
  else:
    break
  


print('Notas de 50: {}'.format(nota50))
print('Notas de 20: {}'.format(nota20))
print('Notas de 10: {}'.format(nota10))
print('Notas de 1: {}'.format(nota1))

Digite o valor a se retirar: 1234
Notas de 50: 24
Notas de 20: 1
Notas de 10: 1
Notas de 1: 4

In [ ]:
#72
numeros = ('zero', 'um', 'dois', 'tres','quatro', 'cinco')

digite = int(input('Digite um numero entre 0 e 20: '))
while digite > 5 or digite < 0:
  digite = int(input('Tente novamente! Digite um numero entre 0 e 20: '))

print(numeros[digite])

Digite um numero entre 0 e 20: 6
Tente novamente! Digite um numero entre 0 e 20: 5
cinco

In [ ]:
#73
times = ('atletico', 'flamengo', 'palmeiras','fortaleza', 'corinthias', 'red bull', 'fluminense', 'america', 'atletico-go', 'santos')
#5 primeiros
print(times[:5])
#4 ultimos
print(times[-4:])
#ordem alfabetica
alfabetico = sorted(times)
print(alfabetico)
#qual posicao esta o atletico
print(times.index('atletico')+1)

('atletico', 'flamengo', 'palmeiras', 'fortaleza', 'corinthias')
('fluminense', 'america', 'atletico-go', 'santos')
['america', 'atletico', 'atletico-go', 'corinthias', 'flamengo', 'fluminense', 'fortaleza', 'palmeiras', 'red bull', 'santos']
1

In [ ]:
#74
import random
tupla = (random.randrange(0,10),random.randrange(0,10),random.randrange(0,10),random.randrange(0,10),random.randrange(0,10))


print('Os numeros foram {},\nMaior: {}\nMenor: {}'.format(tupla,max(tupla),min(tupla)))

Os numeros foram (8, 9, 2, 5, 5),
Maior: 9
Menor: 2

In [ ]:
#75
n1 = int(input('Digite o numero: '))
n2 = int(input('Digite o numero: '))
n3 = int(input('Digite o numero: '))
n4 = int(input('Digite o numero: '))
valor9=0
posicao3=0
cont=0
tupla=(n1,n2,n3,n4)



if 3 in tupla:
  print('O valor 3 foi digitado na posição: {}'.format(tupla.index(3)+1))
else:
  print('O valor 3 n foi digitado')

print('O valor 9 apareceu: {} vezes'.format(tupla.count(9)))

for n in tupla:
  if n % 2 == 0:
    print((n), end=' ')

Digite o numero: 8
Digite o numero: 6
Digite o numero: 2
Digite o numero: 3
O valor 3 foi digitado na posição: 4
O valor 9 apareceu: 0 vezes
8 6 2

In [ ]:
#76
lista = ('pao', 1, 'Leite', 3.50, 'Frango', 10.90)

print('-' * 30)
print(f'{"LISTA DE PRECO":^30}')
print('-' * 30)


for pos in range(0, len(lista)):
  if pos % 2 == 0:
    print(f'{lista[pos]:.<30}', end='')
  else:
    print(f'R$ {lista[pos]:>5.2f}')

------------------------------
        LISTA DE PRECO
------------------------------
pao...........................R$  1.00
Leite.........................R$  3.50
Frango........................R$ 10.90

In [ ]:
#77
times = ('atletico', 'flamengo', 'palmeiras','fortaleza', 'corinthias', 'red bull', 'fluminense', 'america', 'atletico-go', 'santos', 'f')
cont = 0
for p in times:
  print(f'\nNa palavra {p}. Temos a letra', end='')
  for letra in p:
    if letra.lower() in 'aeiou':
      print(letra, end=' ')

Na palavra atletico. Temos a letraa e i o
Na palavra flamengo. Temos a letraa e o
Na palavra palmeiras. Temos a letraa e i a
Na palavra fortaleza. Temos a letrao a e a
Na palavra corinthias. Temos a letrao i i a
Na palavra red bull. Temos a letrae u
Na palavra fluminense. Temos a letrau i e e
Na palavra america. Temos a letraa e i a
Na palavra atletico-go. Temos a letraa e i o o
Na palavra santos. Temos a letraa o
Na palavra f. Temos a letra

In [ ]:
#78 del list[n]   - list.remove[nome]   - list.pop() remove o ultimo -  list.insert(valor, posicao)  - for p, v in enumerate(list) p=posicao v=valor   - b = a[:] criar copia da list
lista = []
maior = []
menor = []

ma=me=0


for n in range(0,5):
  lista.append(int(input(f'Digite o valor da posicao {n}: ')))
  if n == 0:
    ma=me=lista[n]
  else:
    if lista[n] > ma:
      ma = lista[n]
    if lista[n] < me:
      me = lista[n]

    
for p,v in enumerate(lista):
  if v == ma:
    maior.append(p)
  if v == me:
    menor.append(p)
    
print(f'O maior valor foi: {ma} digitado na posicao {maior}')
print(f'O menor valor foi {me} digitado na posicao {menor}')

Digite o valor da posicao 0: 1
Digite o valor da posicao 1: 1
Digite o valor da posicao 2: 5
Digite o valor da posicao 3: 9
Digite o valor da posicao 4: 9
O maior valor foi: 9 digitado na posicao [3, 4]
O menor valor foi 1 digitado na posicao [0, 1]

In [ ]:
#79
lista = []

while True:
  valor = int(input('Digite um valor: '))
  
  if valor not in lista:
    print('Valor adicionado com sucesso!')
    lista.append(valor)
  else:
    print('Valor duplicado! Não vou adicionar....')
  
  status = str(input('Quer continuar? [S/N]: ')).strip().lower()

  while status not in 'sn':
    status = str(input('Digite um valor valido! Quer continuar? [S/N]: ')).strip().lower()
  if status == 'n':
      break


print(sorted(lista))

Digite um valor: 5
Valor adicionado com sucesso!
Quer continuar? [S/N]: s
Digite um valor: 5
Valor duplicado! Não vou adicionar....
Quer continuar? [S/N]: s
Digite um valor: 2
Valor adicionado com sucesso!
Quer continuar? [S/N]: t
Digite um valor valido! Quer continuar? [S/N]: s
Digite um valor: 3
Valor adicionado com sucesso!
Quer continuar? [S/N]: t
Digite um valor valido! Quer continuar? [S/N]: n
[2, 3, 5]

In [ ]:
#80
lista = []


for valor in range(0,5):
  item = int(input(f'Digite um {valor} valor: '))
  if valor == 0 or item > lista[-1]:
    lista.append(item)
  else:
    pos=0
    while pos < len(lista):
      if item <= lista[pos]:
        lista.insert(pos, item)
        break
      pos+=1 



print(lista)

Digite um 0 valor: 2
Digite um 1 valor: 5
Digite um 2 valor: 3
Digite um 3 valor: 8
Digite um 4 valor: 6
[2, 3, 5, 6, 8]

In [ ]:
#81

lista = []


while True:
  valor = int(input('Digite um valor: '))
  lista.append(valor)
  status = str(input('Quer continuar? [S/N]: ')).strip().lower()

  while status not in 'sn':
    status = str(input('Digite um valor valido! Quer continuar? [S/N]: ')).strip().lower()
  if status == 'n':
      break

print(len(lista))
lista.sort(reverse=True)
print(lista)

if 5 in lista:
  print('5 esta na lista')
else:
  print('5 n esta na lista')

Digite um valor: 1
Quer continuar? [S/N]: n
1
[1]
5 n esta na lista

In [ ]:
#82
lista=[]
pares=[]
impares=[]

while True:
  lista.append(int(input('Digite um valor: ')))
  status = str(input('Deseja continuar? [s/n]: ')).strip().lower()
  while status not in 'sn':
    status = str(input('Digite um valor valido! Deseja continuar? [s/n]: ')).strip().lower()
  if 'n' in status:
    break

pos=0
while pos < len(lista):
  if lista[pos] % 2 == 0:
    pares.append(lista[pos])
  else:
    impares.append(lista[pos])
  pos+=1

print(lista)
print(pares)
print(impares)

Digite um valor: 5
Deseja continuar? [s/n]: s
Digite um valor: 1
Deseja continuar? [s/n]: s
Digite um valor: 2
Deseja continuar? [s/n]: s
Digite um valor: 4
Deseja continuar? [s/n]: n
[5, 1, 2, 4]
[2, 4]
[5, 1]

In [ ]:
#83
expressao=str(input('Digite sua expressao: '))


pilha = []
for simb in expressao:
  if simb == '(':
    pilha.append('(')
  elif simb == ')':
    if len(pilha) > 0:
      pilha.pop()
    else:
      pilha.append(')')
      break

if len(pilha) == 0:
  print('Expressao valida!')
else:
  print('Expressao invalida!')

Digite sua expressao: ))(
Expressao invalida!

In [ ]:
#84
pessoa = []
grupo = []
pesada = leve = 0

maispesado=[]
maisleve=[]


while True:
  pessoa.append(str(input('Nome: ')))
  pessoa.append(float(input('Peso: ')))

  grupo.append(pessoa[:])
  pessoa.clear()
  sit = str(input('Deseja continuar? [S/N]: ')).strip().upper()

  while sit not in 'SN':
    sit = str(input('Digite um valor valido! Deseja continuar? [S/N]: ')).strip().upper()
  
  if sit == 'N':
    break

posnome = 0
pospeso = 1
for p,v in enumerate(grupo):
  if p==0:
    pesada = leve = grupo[p][pospeso]
  else:
    if leve >= grupo[p][pospeso]:
      leve = grupo[p][pospeso]
    elif pesada <= grupo[p][pospeso]:
      pesada = grupo[p][pospeso]


for p,v in enumerate(grupo):
  if grupo[p][pospeso] == pesada:
    maispesado.append(grupo[p][posnome])
  elif grupo[p][pospeso] == leve:
    maisleve.append(grupo[p][posnome])
    

print(grupo)
print(f'{len(grupo)} pessoas foram cadastradas!')

print(f'A pessoa mais pesada é: {maispesado} com {pesada}')
print(f'A pessoa mais leve é: {maisleve} com {leve}')

Nome: maria
Peso: 70
Deseja continuar? [S/N]: s
Nome: joao
Peso: 100
Deseja continuar? [S/N]: s
Nome: claudio
Peso: 85
Deseja continuar? [S/N]: s
Nome: helio
Peso: 100
Deseja continuar? [S/N]: s
Nome: ana
Peso: 70
Deseja continuar? [S/N]: s
Nome: gustavo
Peso: 88
Deseja continuar? [S/N]: n
[['maria', 70.0], ['joao', 100.0], ['claudio', 85.0], ['helio', 100.0], ['ana', 70.0], ['gustavo', 88.0]]
6 pessoas foram cadastradas!
A pessoa mais pesada é: ['joao', 'helio'] com 100.0
A pessoa mais leve é: ['maria', 'ana'] com 70.0

In [ ]:
#85
lista=[[], []]

for v in range(0,7):
  valor = int(input('Digite um valor: '))
  if valor % 2 == 0:
    lista[0].append(valor)
  else:
    lista[1].append(valor)

print(f'Os pares são {sorted(lista[0])}')
print(f'Os impares são {sorted(lista[1])}')

Digite um valor: 2
Digite um valor: 8
Digite um valor: 4
Digite um valor: 7
Digite um valor: 5
Digite um valor: 2
Digite um valor: 3
Os pares são [2, 2, 4, 8]
Os impares são [3, 5, 7]

In [ ]:
#86
matrix = [[],[],[]]

for linha in range(3):
  for coluna in range(3):
    valor = int(input(f'Digite um valor para [{linha},{coluna}]: ' ))
    matrix[linha].append(valor)
  
for l in range(0,3):
  for c in range(0,3):
    print(f'[{matrix[l][c]:^5}]' , end='')
  print()

print(f'[ {matrix[0][0]} ] [ {matrix[0][1]} ] [ {matrix[0][2]} ]')
print(f'[ {matrix[1][0]} ] [ {matrix[1][1]} ] [ {matrix[1][2]} ]')
print(f'[ {matrix[2][0]} ] [ {matrix[2][1]} ] [ {matrix[2][2]} ]')

Digite um valor para [0,0]: 1
Digite um valor para [0,1]: 2
Digite um valor para [0,2]: 3
Digite um valor para [1,0]: 4
Digite um valor para [1,1]: 5
Digite um valor para [1,2]: 6
Digite um valor para [2,0]: 7
Digite um valor para [2,1]: 8
Digite um valor para [2,2]: 9
[  1  ][  2  ][  3  ]
[  4  ][  5  ][  6  ]
[  7  ][  8  ][  9  ]
[ 1 ] [ 2 ] [ 3 ]
[ 4 ] [ 5 ] [ 6 ]
[ 7 ] [ 8 ] [ 9 ]

In [ ]:
#87
matrix = [[],[],[]]
somapar=0
soma3coluna=0

for linha in range(3):
  for coluna in range(3):
    valor = int(input(f'Digite um valor para [{linha},{coluna}]: ' ))
    matrix[linha].append(valor)
    if valor%2==0:
      somapar+=valor

    if coluna==2:
      soma3coluna+=valor

    if linha==1:
      if coluna == 0:
        maior = matrix[linha][coluna]
      else:
        if matrix[linha][coluna]> maior:
          maior = matrix[linha][coluna]

for l in range(0,3):
  for c in range(0,3):
    print(f'[{matrix[l][c]:^5}]' , end='')
  print()


print(f'A soma de todos os valores pares digitados é de {somapar}')
print(f'A soma de todos os valores da 3 coluna é de {soma3coluna}')
print(f'O maior valor da segunda linha é de {maior}')

Digite um valor para [0,0]: 1
Digite um valor para [0,1]: 2
Digite um valor para [0,2]: 3
Digite um valor para [1,0]: 4
Digite um valor para [1,1]: 5
Digite um valor para [1,2]: 6
Digite um valor para [2,0]: 7
Digite um valor para [2,1]: 8
Digite um valor para [2,2]: 9
[  1  ][  2  ][  3  ]
[  4  ][  5  ][  6  ]
[  7  ][  8  ][  9  ]
A soma de todos os valores pares digitados é de 20
A soma de todos os valores da 3 coluna é de 18
O maior valor da segunda linha é de 6

In [ ]:
#88
import random
import time
resultado=[]
jogos=[]
print('-'*30)
print('     JOGO NA MEGA SENA    ')
print('-'*30)


qtd = int(input('Quantas jogos você quer que eu sorteie? '))
print('-='*3, f'Sorteando {qtd} jogos', '-=' *3)

for qtds in range(0,qtd):
  cont=0 
  while True:
    if cont == 6:
      break
    else:
      palpite = random.randint(1,60)
      while palpite not in resultado:
        resultado.append(palpite)
        cont+=1
  jogos.append(resultado[:])
  resultado.clear()
      
    

  


  
  
for p,v in enumerate(jogos):
  print(f'Jogo {p+1}: {v}')
  time.sleep(1)

print('-='*5, 'Boa sorte!', '-=' *5)

------------------------------
     JOGO NA MEGA SENA
------------------------------
Quantas jogos você quer que eu sorteie? 10
-=-=-= Sorteando 10 jogos -=-=-=
Jogo 1: [29, 35, 9, 16, 22, 50]
Jogo 2: [47, 16, 19, 17, 28, 3]
Jogo 3: [54, 1, 4, 5, 7, 59]
Jogo 4: [4, 18, 37, 60, 24, 21]
Jogo 5: [4, 60, 10, 45, 43, 5]
Jogo 6: [38, 20, 45, 22, 51, 34]
Jogo 7: [22, 40, 12, 36, 38, 18]
Jogo 8: [22, 44, 42, 41, 6, 7]
Jogo 9: [52, 42, 3, 39, 13, 51]
Jogo 10: [11, 56, 41, 3, 50, 1]
-=-=-=-=-= Boa sorte! -=-=-=-=-=

In [ ]:
#89
lista = []
alunos = []

while True:
  nome = (str(input('Nome: ')))
  nota1 =(float(input('Nota 1: ')))
  nota2 = (float(input('Nota 2: ')))
  media = (nota1+nota2)/2
  lista.append(nome)
  lista.append(nota1)
  lista.append(nota2)
  lista.append(media)
  alunos.append(lista[:])
  lista.clear()

  continua = str(input('Deseja continuar? [S/N]: ')).strip().upper()
  while continua not in 'SN':
    continua = str(input('Digite um valor valido! Deseja continuar? [S/N]: ')).strip().upper()
  if continua == 'N':
    break




print('Nº  Nome        Média')
print('=-=-=-=-=-=-=-=-=-=-=')
for posicao, valor in enumerate(alunos):
  print(posicao, end='    ')
  print(valor[0], end='           ')
  print(valor[3])



while True:
  numero = int(input('Você quer ver as notas de qual aluno? [Digite o nº] - (999 - interrompe): '))
  if numero == 999:
    break
  else:
    if numero >= len(alunos):
      print('Digite um numero valido!')
    else:
      print(f'Notas de {alunos[numero][0]} são {alunos[numero][1:3]}')

print('Fim!')

Nome: luigi
Nota 1: 6
Nota 2: 6
Deseja continuar? [S/N]: o
Digite um valor valido! Deseja continuar? [S/N]: p
Digite um valor valido! Deseja continuar? [S/N]: ç
Digite um valor valido! Deseja continuar? [S/N]: s
Nome: laisa
Nota 1: 5
Nota 2: 5
Deseja continuar? [S/N]: o
Digite um valor valido! Deseja continuar? [S/N]: p
Digite um valor valido! Deseja continuar? [S/N]: s
Nome: pedro
Nota 1: 4
Nota 2: 3
Deseja continuar? [S/N]: n
Nº  Nome        Média
=-=-=-=-=-=-=-=-=-=-=
0    luigi           6.0
1    laisa           5.0
2    pedro           3.5
Você quer ver as notas de qual aluno? [Digite o nº] - (999interrompe): 0
Notas de luigi são [6.0, 6.0]
Você quer ver as notas de qual aluno? [Digite o nº] - (999interrompe): 1
Notas de laisa são [5.0, 5.0]
Você quer ver as notas de qual aluno? [Digite o nº] - (999interrompe): 2
Notas de pedro são [4.0, 3.0]
Você quer ver as notas de qual aluno? [Digite o nº] - (999interrompe): 3
Digite um numero valido!
Você quer ver as notas de qual aluno? [Digite o nº] - (999interrompe): 999

In [ ]:
filme = {'titulo': 'SW', 'ano': 1997, 'diretor':'George Lucas'}
# valores da chave - v
print(filme.values())
#titulos da chave -k
print(filme.keys())
#tudo k,v
print(filme.items())

dict_values(['SW', 1997, 'George Lucas'])
dict_keys(['titulo', 'ano', 'diretor'])
dict_items([('titulo', 'SW'), ('ano', 1997), ('diretor', 'George Lucas')])

In [ ]:
#90
aluno = {}

aluno['nome'] = str(input('Nome: '))
media = int(input('Média: '))
aluno['media'] = media
if media >=7:
  aluno['situacao'] = 'Aprovado'
else:
  aluno['situacao'] = 'Reprovado'

for k,v in aluno.items():
  print(f'{k} é igual á {v}')

Nome: luigi
Média: 5
nome é igual á luigi
media é igual á 5
situacao é igual á Reprovado

In [ ]:
#91
import random
from operator import itemgetter

jogadores={'jogador1': random.randint(1,6),
           'jogador2': random.randint(1,6),
           'jogador3': random.randint(1,6),
           'jogador4': random.randint(1,6)
}

rank = ()



print('Valores sorteados')
for k,v in jogadores.items():
  print(f'O {k} tirou: {v}')

rank = sorted(jogadores.items(), key=itemgetter(1), reverse=True)

print('Valores em ordem')

for j in range(len(rank)):
  print(f'Em {j+1}º {rank[j][0]} tirou {rank[j][1]}')

Valores sorteados
O jogador1 tirou: 6
O jogador2 tirou: 3
O jogador3 tirou: 4
O jogador4 tirou: 6
Valores em ordem
Em 1º jogador1 tirou 6
Em 2º jogador4 tirou 6
Em 3º jogador3 tirou 4
Em 4º jogador2 tirou 3

In [ ]:
#92
from datetime import date
anoatual = date.today().year

pessoa = {}

pessoa['Nome']=str(input('Nome: '))
nasc = int(input('Digite seu ano de nascimento: '))
pessoa['Idade'] = anoatual - nasc
pessoa['Cdt']=int(input('Carteira de trabalho: '))


if pessoa['Cdt'] != 0:
  pessoa['AnoC']=int(input('Digite o ano de contratação: '))
  pessoa['Salario']=float(input('Digite seu salario: '))

  pessoa['Aposentadoria']=pessoa['AnoC']+35-nasc

print('=-'*5, ' Dados: ','=-'*5)
for k, v in pessoa.items():
  print(f'{k} é igual a {v}')

Nome: luigi
Digite seu ano de nascimento: 2001
Carteira de trabalho: 2
Digite o ano de contratação: 2022
Digite seu salario: 2000
=-=-=-=-=-  Dados:  =-=-=-=-=-
Nome é igual a luigi
Idade é igual a 21
Cdt é igual a 2
AnoC é igual a 2022
Salario é igual a 2000.0
Aposentadoria é igual a 56

In [ ]:
#93
jogador = {}
gols = list()

nome = str(input('Nome: '))
jogador['Nome'] = nome
totpartida = int(input(f'Quantas partidas {nome} jogou? '))

for p in range(totpartida):
  gol = int(input(f'Quantos gols na partida {p+1}? '))
  gols.append(gol)

jogador['Gols']=gols
total=sum(gols)
jogador['Total']=total

print('=-'*10)
print(jogador)
print('=-'*10)
for k, v in jogador.items():
  print(f'O campo {k} tem o valor {v}')
print('=-'*10)

print(f'O jogador {nome} jogou {totpartida} partidas')


for p in range(totpartida):
  print('=> Na partida {}, fez {}'.format(p+1,jogador['Gols'][p]))

print('Foi um total de {} gols'.format(total))

Nome: luigi
Quantas partidas luigi jogou? 5
Quantos gols na partida 1? 2
Quantos gols na partida 2? 1
Quantos gols na partida 3? 0
Quantos gols na partida 4? 0
Quantos gols na partida 5? 3
=-=-=-=-=-=-=-=-=-=-
{'Nome': 'luigi', 'Gols': [2, 1, 0, 0, 3], 'Total': 6}
=-=-=-=-=-=-=-=-=-=-
O campo Nome tem o valor luigi
O campo Gols tem o valor [2, 1, 0, 0, 3]
O campo Total tem o valor 6
=-=-=-=-=-=-=-=-=-=-
O jogador luigi jogou 6 partidas
=> Na partida 1, fez 2
=> Na partida 2, fez 1
=> Na partida 3, fez 0
=> Na partida 4, fez 0
=> Na partida 5, fez 3
Foi um total de 6 gols

In [ ]:
#94
grupo = list()
pessoa = {}
somaidade=0

while True:
  pessoa['nome']=str(input('Nome: '))
  sexo = str(input('Sexo [M/F]: ')).strip().upper()
  while sexo not in 'MF':
    sexo = str(input('INVALIDO! Sexo [M/F]: ')).strip().upper()
  if sexo in 'MF':
    pessoa['sexo']=sexo
  idade=int(input('Idade: '))
  somaidade+=idade
  pessoa['idade']=idade

  grupo.append(pessoa.copy())
  pessoa.clear()
  status = str(input('Deseja continuar? [S/N]: ')).strip().upper()
  while status not in 'SN':
    status = str(input('iNVALIDO! Deseja continuar? [S/N]: ')).strip().upper()
  if status == 'N':
    break


print(grupo)

print('O grupo tem {} pessoas'.format(len(grupo)))
media = somaidade/len(grupo)
print('A media de idade é de {} anos'.format(media))

print('As mulhers são: ', end='')
for p in grupo:
  if p['sexo'] == 'F':
    print(p['nome'], end=' ') 

print()
print('Acima da média: ')
for p in grupo:
  if p['idade'] > media:
    print(p, end=' ')

Nome: luigi
Sexo [M/F]: i
INVALIDO! Sexo [M/F]: p
INVALIDO! Sexo [M/F]: t
INVALIDO! Sexo [M/F]: m
Idade: 21
Deseja continuar? [S/N]: p
iNVALIDO! Deseja continuar? [S/N]: o
iNVALIDO! Deseja continuar? [S/N]: s
Nome: laisa
Sexo [M/F]: t
INVALIDO! Sexo [M/F]: f
Idade: 23
Deseja continuar? [S/N]:      s
Nome: fernando
Sexo [M/F]: m
Idade: 50
Deseja continuar? [S/N]: s
Nome: jane
Sexo [M/F]: f
Idade: 60
Deseja continuar? [S/N]: n
[{'nome': 'luigi', 'sexo': 'M', 'idade': 21}, {'nome': 'laisa', 'sexo': 'F', 'idade': 23}, {'nome': 'fernando', 'sexo': 'M', 'idade': 50}, {'nome': 'jane', 'sexo': 'F', 'idade': 60}]
O grupo tem 4 pessoas
A media de idade é de 38.5 anos
As mulhers são: laisa jane
Acima da média:
{'nome': 'fernando', 'sexo': 'M', 'idade': 50} {'nome': 'jane', 'sexo': 'F', 'idade': 60}

In [ ]:
#95
jogador = {}
gols = list()
jogadores = list()

while True:
  nome = str(input('Nome: '))
  jogador['Nome'] = nome
  totpartida = int(input(f'Quantas partidas {nome} jogou? '))

  for p in range(totpartida):
    gol = int(input(f'Quantos gols na partida {p+1}? '))
    gols.append(gol)

  jogador['Gols']=gols[:]
  total=sum(gols)
  jogador['Total']=total

  jogadores.append(jogador.copy())
  gols.clear()
  print('=-'*20)
  status = str(input('Deseja continuar? [S/N]: ')).upper().strip()
  while status not in 'SN':
    status = str(input('INCORRETO! Deseja continuar? [S/N]: ')).upper().strip()
  if status == 'N':
    break

print('=-'*20)
print('COD    NOME        GOLS            TOTAL')
for p, v in enumerate(jogadores):
  print('{}       {}         {}          {}'.format(p,v['Nome'], v['Gols'], v['Total']))

print('=-'*20)

while True:
  dado=int(input('Mostrar dados de qual jogador? [999- sair] '))
  if dado == 999:
    break
  else:
    while len(jogadores) <= dado:
      dado=int(input('INCORRETO! Mostrar dados de qual jogador? [999- sair] '))
    else:

      print('Levatamento do jogador {}'.format(jogadores[dado]['Nome']))

      for g in range(totpartida):
        print('  => No jogo {} fez {} gols.'.format(g+1,jogadores[dado]['Gols'][g]))


print('Fim!')

Nome: lu
Quantas partidas lu jogou? 3
Quantos gols na partida 1? 5
Quantos gols na partida 2? 2
Quantos gols na partida 3? 0
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Deseja continuar? [S/N]: s
Nome: li
Quantas partidas li jogou? 2
Quantos gols na partida 1? 0
Quantos gols na partida 2? 2
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Deseja continuar? [S/N]: n
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
COD    NOME        GOLS            TOTAL
0       lu         [5, 2, 0]          7
1       li         [0, 2]          2
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
Mostrar dados de qual jogador? [999- sair] 1
Levatamento do jogador li
  => No jogo 1 fez 0 gols.
  => No jogo 2 fez 2 gols.
Mostrar dados de qual jogador? [999- sair] 66
INCORRETO! Mostrar dados de qual jogador? [999- sair] 999
INCORRETO! Mostrar dados de qual jogador? [999- sair] 1
Levatamento do jogador li
  => No jogo 1 fez 0 gols.
  => No jogo 2 fez 2 gols.
Mostrar dados de qual jogador? [999- sair] 999
Fim!

In [ ]:
#96
def area(l,c):
  a = l*c
  print(f'A área de um terrno {l}x{c} é de {a}m2')

l=float(input('LARGURA (M): '))
c=float(input('Comprimento (M): '))
area(l, c)

LARGURA (M): 4.5
Comprimento (M): 8
A área de um terrno 4.5x8.0 é de 36.0m2

In [ ]:
#97
def escreva(msg):
  tam=len(msg) + 6
  print('~'*tam)
  print(f'  ', msg)
  print('~'*tam)


escreva('Luigi Ferrari')
escreva('Curso de Python no YouTube')
escreva('CeV')

~~~~~~~~~~~~~~~~~~~
   Luigi Ferrari
~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Curso de Python no YouTube
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~
   CeV
~~~~~~~~~

In [ ]:
#98
def contador(i,f,p):
  if p == 0:
    p=1

  if i > f and p>0:
    p=-p
  for n in range(i,f+p,p):
    print(n, end=' ')
  print()


contador(1,10,1)
contador(10,0,2)
print('Agora é a sua vez!')
inicio=int(input('Inicio: '))
fim=int(input('Fim: '))
passo=int(input('Passo: '))
contador(inicio,fim,passo)

1 2 3 4 5 6 7 8 9 10
10 8 6 4 2 0
Agora é a sua vez!
Inicio: 20
Fim: 10
Passo: 0
20 19 18 17 16 15 14 13 12 11 10

In [ ]:
#99
def maior(* num):
  if len(num) == 0:
    print('Sem Números inseridos!')
  else:
    maior=max(num)
    print(maior)


maior(3,4,6,32,4)
maior(3,6,3,6,9,5,2,65,6)
maior()

32
65
Sem Números inseridos!

In [2]:
#100
import random

lista=list()
def sorteio():
  for n in range(5):
    lista.append(random.randint(0,10))
  print(lista)

def somapar(lst):
  s=0
  for e in lst:
    if e%2==0:
      s+=e
  print(f'A soma dos numeros pares de {lista} é igual a {s}')

sorteio()

somapar(lista)

[6, 10, 2, 0, 7]
A soma dos numeros pares de [6, 10, 2, 0, 7] é igual a 18

In [11]:
#101
from datetime import date

def analise(ano):
  idade = date.today().year - ano
  if idade < 16:
    return f'Com {idade} anos: Não vota!'
  elif idade >= 16 and idade <= 18 or idade > 70:
    return f'Com {idade} anos: Voto não obrigatorio!'
  else:
    return f'Com {idade} anos: Voto obrigatorio!'


anon = int(input('Data de nascimento: '))
analise(anon)

Data de nascimento: 2001

'Com 21 anos: Voto obrigatorio!'

In [19]:
#102

def fatorial(num, show=False):
  cont=num
  valor=1

  for cont in range(cont, 0, -1):
    valor*=cont
    if show == True:
      print(cont, end='')
      if cont > 1:
        print(' x ', end='')
      else:
        print(' = ', end='')


  return valor


print(fatorial(5, show=True))

120

In [46]:
#103

def analise(nome='<Desconhecido>', gols=0):
  print(f'O jogador {nome} fez {gols} gol(s) no campeonato.')

nome=str(input('Nome: '))
g=str(input('Gols: '))
if g.isnumeric():
  g=int(g)
else:
  g=0

if nome.strip() == '':
  analise(gols=g)
else:
  analise(nome,g)

Nome:
Gols: 6
O jogador <Desconhecido> fez 6 gol(s) no campeonato.

In [57]:
#104
def leiaInt(msg):
  n = input(msg).strip()
  while n.isnumeric() == False:
    print('Erro! Digite um número inteiro válido!')
    n = input(msg).strip()
  return n


n = leiaInt('Digite um número: ')
print(f'Você digitou o número: {n}')

Digite um número: gfh
Erro! Digite um número inteiro válido!
Digite um número: fgh
Erro! Digite um número inteiro válido!
Digite um número: fghrt
Erro! Digite um número inteiro válido!
Digite um número:    5fgh
Erro! Digite um número inteiro válido!
Digite um número:    5
Você digitou o número: 5

In [73]:
#105
def notas(*n, sit=False):
  """
  Programa para passar as notas dos alunos e ver a situcao da sala.
  (sit=True - para ver a situacao da sala)
  """
  lista = list()
  dicionario = {}
  media = 0


  for nota in n:
    lista.append(nota)

  media = sum(lista)/len(lista)

  if sit == True:
    if media > 7:
      msg='Boa!'
    elif media <= 7 and media > 4:
      msg='Razoavel!'
    else:
      msg='Ruim'
    dicionario['Situacao'] = msg

  dicionario['Quantidade Notas'] = len(n)
  dicionario['Maior'] = max(lista)
  dicionario['Menor'] = min(lista)
  dicionario['Media'] = media
  return dicionario



resp = notas(5.5, 9.5, 10.0, 6.5, sit=True)
print(resp)

help(notas)

{'Situacao': 'Boa!', 'Quantidade Notas': 4, 'Maior': 10.0, 'Menor': 5.5, 'Media': 7.875}
Help on function notas in module __main__:

notas(*n, sit=False)
    Programa para passar as notas dos alunos e ver a situcao da sala.
    (sit=True - para ver a situacao da sala)

In [115]:
#106
def escreva(msg):
  tam=len(msg) + 6
  print('~'*tam)
  print(f'  ', msg)
  print('~'*tam)


def ajuda(c):
  escreva(f'    \033[31mAcessando o manual do comando {c}\033[0;0m')
  print('\033[32m')
  print(help(c))
  print('\033[0;0m')
  



comando = ''
while True:
  print('\033[34m')
  escreva('SISTEMA AJUDA PYTHON')
  print('\033[0;0m')
  comando = str(input('Função: '))
  if comando.lower() == 'fim':
    break
  else:
    ajuda(comando)
      
  
escreva('Até mais!')

~~~~~~~~~~~~~~~~~~~~~~~~~~
   SISTEMA AJUDA PYTHON
~~~~~~~~~~~~~~~~~~~~~~~~~~

Função: len
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       Acessando o manual do comando len
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

None


~~~~~~~~~~~~~~~~~~~~~~~~~~
   SISTEMA AJUDA PYTHON
~~~~~~~~~~~~~~~~~~~~~~~~~~

Função: print
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       Acessando o manual do comando print
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

None


~~~~~~~~~~~~~~~~~~~~~~~~~~
   SISTEMA AJUDA PYTHON
~~~~~~~~~~~~~~~~~~~~~~~~~~

Função: fim
~~~~~~~~~~~~~~~
   Até mais!
~~~~~~~~~~~~~~~

In [ ]:
#107